* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(250, 243, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  max-width: 1000px;
  padding: 0 2rem;

}

figure {
  width: 100%;
  max-width: 100%;
  position: relative;
}

figcaption {
  text-align: center;
  position: absolute;
  bottom: 10px;
  background: rgba(255, 0, 0, 0.692);
  width: 100%;
  padding: 8px 4px;
}
.figure {
  width: 100%;
  max-width: 100%;
}
h1 {
  text-align: center;
  margin: 10px;
}

.info {
  padding: 12px 0;
  line-height: 1.5;
  text-align: left;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

h2 {
  text-align: center;
  margin: 10px 0 50px 0;
}

/*flip card*/

.flip-container {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  gap: 30px;
  margin-bottom: 30px;

}
.card {
  position: relative;
  width: 300px;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  justify-content: left;
}
.card:hover {
  transform: rotateX(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.front {
  background-color: red;
  color: #fff;
}

.back {
  background-color: red;
  color: white;
  transform: rotateX(180deg);
  border-left: 5px solid red;
  border-right: 5px solid red;
}

div > img {
  height: 290px;
  overflow: hidden;
}

/* list */

a:link {
  color: rgb(255, 185, 95);
  font-style: italic;
  font-weight: bold;
}
a:visited {
  color:  rgb(255, 185, 95);
  font-style: italic;
  font-weight: bold;
}

.list {
  margin-top: 20px;
}
.list ul li {
  position: relative;
  left: 0;
  list-style: none;
  margin: 4px;
  border-left: 2px solid red;
  transition: 0.5s;
  text-align: left;
}
.list ul li:hover {
  position: relative;
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  z-index: 1;
  transition: 0.5s;
}
.list ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
}
.list ul li:hover::before {
  transform: scaleX(1);
}


/*boton modo oscuro*/

#label {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 3em;
  color: rgb(255, 0, 0);
  cursor: pointer;
  z-index: 1;
}
#toggle {
  display: none;
}
.oscuro {
  background-color: black;
  color: white;
  transition: all 1.5s ease;
}

iframe {

  aspect-ratio: 16/9;
  width: 80%;
  border: 5px solid red;
  justify-items: center;
  margin: 90px 0 50px 100px;
}

/*responsive*/

@media screen and  (max-width: 650px){
  main {
    overflow: hidden;
  }
  .flip-container{
  display: inline-block;
  }
  
  .flip-container:not(:first-child) {
    margin-top: 50px;
}

iframe {
  margin-left: 50px;
}

  }
